# Compiler files
cache/
out/
artifacts/

# Ignores development broadcast logs
/broadcast
/broadcast/*/

# Docs
docs/

# Dotenv file
.env

# Node modules
node_modules/

# Coverage
lcov.info
coverage/

# Foundry
/.gas-snapshot

# OS
.DS_Store
Thumbs.db
